/* PHASE 1: Header */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #eee;
  position: relative;
}

.header {
  background: #FF0000;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
  /*position: relative;*/
}

.header-nav {
  margin: auto;
  width: 900px;
  color: #FFFFFF;
}

.header-logo {
  margin: auto;
  float: left;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.header-list {
  margin: auto;
  float: right;
  border-left: 1px solid #FFFFFF;
}

.header-list > li {
  float: left;
  border-right: 1px solid #FFFFFF;
}

.header-list > li:hover {
  background-color: #000000;
}


.header-logo:hover {
  background-color: #000000;
}

/*a {
  padding:10px 30px 10px 30px;
}*/
