/* PHASE 2: Notifications */
.badge {
    display: inline-block;
    border-radius: 50%;
    background: #000000;
    padding: 0 6px;
}

li:hover .badge {
  background: #FF0000;
}


.notification {
  position: absolute;
  display: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.notification li {
  left: -2px;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #FFFFFF;
  color: #000000;
  position: relative;
  z-index: 1;
}

.notification li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li:hover .notification {
  display: block;
  white-space: nowrap;
}

.notification li:hover {
  background-color: #eee;
}
