/* PHASE 5: Cats */
.content-header{
  position: relative;
  background: url("./../shared/img/cats.jpg") no-repeat center;
  background-size: cover;
  height: 200px;
}

.content-header p {
  display: block;
  bottom: 20px;
  left: 240px;
  position: absolute;
  font-size: 30px;
  color: #FFF;
  text-shadow: #000 0 0 10px;
  line-height: 1;
}

.content-header .button {
  display: block;
  bottom: 20px;
  right: 20px;
  position: absolute;
  background: #fff;
  padding: 10px 20px;;
  border-radius: 5px;
  border: 1px solid #000;
  font-weight: bold;

}
.content-header .button:hover {
  background: #eef;
}
