/* PHASE 7: Online */
.online {
  display: block;
  position: absolute;
  transform: rotate(0.875turn) translateX(-25%);
  background-color: #0c0;
  color: #FFF;
  width: 50px;
  left: -10px;
  top: -10px;
  padding: 5px 40px;
  font-size: 12px;
  letter-spacing: 3px;
  box-shadow: 0 2px 0 #070;
  font-weight: 700;

}

.profile-picture {
  overflow: hidden;
}
